@import "global";
@import "helpers/mixins";
@import "helpers/variables";

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;

  @include r(767) {

  }
}

#header {
  background-image: url("../img/header.png");
  background-repeat: repeat no-repeat;
  padding: 57px 0 82px 0;

  header {
    display: flex;
    justify-content: space-between;

    .menu {
      font-size: 15px;
      font-weight: 900;
      letter-spacing: 1.8px;
      text-align: center;

      a {
        text-decoration: none;
        color: white;
        margin-right: 40px;
        text-transform: uppercase;

        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }

    .email {
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 1.56px;
      color: white;

      &:after {
        content: '';
        display: block;
        width: 135px;
        height: 1px;
        background-color: #666864;
        margin-top: 10px;
        opacity: 0.6;
      }
    }
  }

  .text {

    h1 {
      font-size: 49px;
      line-height: 1.12;
      letter-spacing: 5.88px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      margin-top: 297px;
    }

    p {
      font-size: 29px;
      font-weight: 100;
      letter-spacing: 3.48px;
      color: white;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .img {
    text-align: center;
    margin-top: 265px;
  }
}

#aboutme {
  padding: 86px 0 97px 0;

  h2 {
    font-size: 37px;
    letter-spacing: 4.44px;
    text-align: left;
    color: #22241b;
    text-transform: uppercase;
    margin-bottom: 76px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    .background {
      margin-right: 45px;

      h3 {
        font-size: 22px;
        letter-spacing: 2.64px;
        text-align: left;
        color: rgba(34, 36, 27, 0.66);
        margin-bottom: 46px;
      }

      p {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.8;
        letter-spacing: 0.3px;
        text-align: left;
        color: #22241b;
      }
    }

    .merits {


      h3 {
        font-size: 22px;
        letter-spacing: 2.64px;
        text-align: left;
        color: rgba(34, 36, 27, 0.66);
        margin-bottom: 43px;
      }

      .merits__menu {
        display: flex;
        justify-content: space-between;

        .item {
          margin-right: 54px;
          margin-bottom: 65px;

          &:nth-child(3) {
            margin-right: 0;
          }

          .item__wrapper {
            background-image: url("../img/romb.png");
            background-repeat: no-repeat;
            width: 105px;
            height: 105px;
            text-align: center;
            line-height: 105px;
            margin-bottom: 22px;
          }

          p {
            font-size: 12px;
            font-weight: 100;
            letter-spacing: 0.24px;
            text-align: center;
            line-height: 1.5;
            color: #22241b;
            text-transform: uppercase;
          }
        }
      }
    }

    .connection {

      .connection__wrapper {
        display: flex;
        justify-content: space-between;

        h3 {
          font-size: 22px;
          line-height: 2.5;
          letter-spacing: 2.64px;
          text-align: left;
          color: rgba(34, 36, 27, 0.66);
          margin-bottom: 38px;
        }

        .connection__text {

          a {
            font-weight: 300;
            letter-spacing: 1.68px;
            text-align: left;
            color: #204d15;
            text-decoration: underline;
            margin-bottom: 21px;
            display: inline-block;
            margin-right: 43px;

            &:nth-child(3) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

#skills {
  padding-bottom: 83px;

  h2 {
    font-size: 37px;
    line-height: 1.49;
    letter-spacing: 4.44px;
    text-align: left;
    color: #22241b;
    margin-bottom: 62px;
    text-transform: uppercase;
  }

  .skills__menu {
    display: flex;
    justify-content: space-between;

    .item {
      display: flex;

      .item__wrapper {
        background-image: url("../img/circle.png");
        background-repeat: no-repeat;
        width: 61px;
        height: 61px;
        line-height: 61px;
        text-align: center;
        margin-right: 27px;
      }

      p {
        font-size: 15px;
        font-weight: 900;
        line-height: 3.67;
        letter-spacing: 1.8px;
        text-align: left;
        color: rgba(34, 36, 27, 0.89);
        text-transform: uppercase;
      }
    }
  }
}

#jobs {
  padding-bottom: 110px;

  h2 {
    font-size: 37px;
    line-height: 1.49;
    letter-spacing: 4.44px;
    text-align: left;
    color: #22241b;
    text-transform: uppercase;
    margin-bottom: 60px;
  }

  .jobs__wrapper {
    display: flex;
    justify-content: space-between;

    .image {
      margin-bottom: 125px;
      position: relative;
      z-index: 1;

      .overlay {
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        width: 100%;
        z-index: 5;
        left: 0;
        top: 0;
        height: 100%;
        opacity: 0;
        transition: all ease 1s;

        p {
          color: white;
          text-align: center;

          &:nth-child(1) {
            font-size: 15px;
            font-weight: 900;
            line-height: 3.67;
            letter-spacing: 0.3px;
            padding-top: 100px;
          }

          &:nth-child(2) {
            font-size: 13px;
            font-weight: 300;
            line-height: 4.23;
            letter-spacing: 0.26px;
            color: #ffffff;

            &:after {
              content: '';
              display: block;
              width: 61px;
              height: 1px;
              opacity: 0.46;
              background-color: #858587;
              text-align: center;
            }
          }
        }
      }
    }

    .image:hover .overlay {
      opacity: 1;
    }
  }

  p {
    font-size: 11px;
    font-weight: 300;
    line-height: 5;
    letter-spacing: 1.54px;
    text-align: left;
    color: rgba(34, 36, 27, 0.66);
  }
}

@media only screen and (max-width: 450px) {
  .container {
    width: 90%;
  }
  .menu {
    display: none;
  }
  .logo {
    width: 100%;
  }
  .email {
    width: 100%;
  }
}